/* Main block */

.main {
  margin-bottom: 10%;
  margin-right: 10%;
  margin-left: 10%;
  min-height: 100%;
}

/* Nav Bar */

#mainNav {
  border-color: rgba(206, 19, 28, .7);
  background-color: #dc2430;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: white;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.7);
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: white;
  border-color: white;
}

#mainNav .navbar-nav>li>a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav>li>a.active {
  color: white !important;
  background-color: transparent;
}

#mainNav .navbar-nav>li>a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav>li>a,
#mainNav .navbar-nav>li>a:focus {
  color: rgba(255, 255, 255, 0.7);
}

#mainNav .navbar-nav>li>a:hover,
#mainNav .navbar-nav>li>a:focus:hover {
  color: white;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: rgba(206, 19, 28, .7);
    background-color: #dc2430;
  }
  #mainNav .navbar-brand {
    color: white;
  }
  #mainNav .navbar-brand:hover,
  #mainNav .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav>li>a,
  #mainNav .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav>li>a:hover,
  #mainNav .navbar-nav>li>a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(206, 19, 28, .7);
    background-color: #dc2430;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-brand:hover,
  #mainNav.navbar-shrink .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav.navbar-shrink .navbar-nav>li>a,
  #mainNav.navbar-shrink .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav.navbar-shrink .navbar-nav>li>a:hover,
  #mainNav.navbar-shrink .navbar-nav>li>a:focus:hover {
    color: white;
  }
}

/* Footer Block */

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}

footer a {
  color: #fdcc52;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

footer a:hover,
footer a:focus {
  color: #fcbd20;
}